[submodule "3rdparty/flashinfer"]
	path = 3rdparty/flashinfer
	url = git@github.com:Zijie-Tian/flashinfer.git
	branch = tzj/minference
[submodule "3rdparty/flash-attention"]
	path = 3rdparty/flash-attention
	url = git@github.com:Zijie-Tian/flash-attention.git
[submodule "3rdparty/nanovllm"]
	path = 3rdparty/nanovllm
	url = https://github.com/Zijie-Tian/nano-vllm.git
	branch = tzj/minference
